

/* Pagina */

body{
    background-color:red;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8DSvxaDD9A9Wq84GBuf4GiPFl5AzteiCkzBWU8J0qtgExRa3Z 
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Titulo */

h1{
    font-size: 52px;
    text-align: center;
}

/* Subtitulo */

    h2{
        text-align: center;
        background-color: black;
        color: white;
    }

/*Lista Ordenada*/

    ol{
        font-weight: bold;
    }

/*Lista Desordenada*/

ul{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: underline;
}